@model WebCore.Models.UserModel
<!DOCTYPE html>
<html>
Hello~ 我是 @Model.Name

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>MyWebsite</title>
</head>
<body>
    wwwroot 目錄的 index.html
    <a>linktest<a/>
</body>
</html>